<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>


  <appSettings>
    <add key="TargetTableAndColumn" value="CSK_Store_ManufacturerProduct,URL,Status;CSK_Store_ManufacturerDetails,LocalURL,Staus" />
    <add key="Keywords" value="" />
    <add key="Log" value="F:\m" />
    <add key="Email" value="" />
  </appSettings>
  
  <connectionStrings>
    <clear/>
    <add name="CommerceTemplate" connectionString="Data Source=10.0.0.26;Initial Catalog=PriceMe;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  
</configuration>