<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

  <appSettings>
    <add key="LogRootPath" value="E:\Minitools\Zhenglei\" />
    <add key="FeedRootPath" value="E:\Minitools\Zhenglei\" />
    <add key="FeedFilePrefix" value="Ali1" />
    <add key="ChromeWebDriverDir" value="E:\" /><!--chromedriver.exe所在目录-->
    <add key="MapFile" value="E:\Minitools\Zhenglei\AliMap.txt" />
    <add key="Country" value="New Zealand" />
    <add key="Currency" value="NZD" />
    <add key="Account" value="20635287@qq.com" />
    <add key="Password" value="leizhen1510" />

    <add key="RabbitMQ_Host" value="rabbitmq://10.0.0.6/" />
    <add key="RabbitMQ_UserName" value="Candy" />
    <add key="RabbitMQ_Password" value="Candy123" />
    <add key="RabbitMQ_QueueName" value="Shop_queue" />
    
    <add key="targetPathFTP" value="AliExpressNew" />
    <add key="targetIPFTP" value="10.0.0.6" />
    <add key="userIDFTP" value="PM" />
    <add key="passwordFTP" value="123456zl" />
    <add key="MsgFileDir" value="E:\Work\Minitools\Zhenglei\AliExpressNew" />

    <add key="DisableImage" value="true" />
    <add key="RelatedProductFormatFile" value="E:\Minitools\Zhenglei\RelatedProductFormatFile.txt" />
    <add key="RetryCount" value="3" />
    <add key="ThreadCount" value="2" /><!--线程数量-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NewId" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.17" newVersion="3.0.1.17" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.0.0" newVersion="2.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GreenPipes" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.83" newVersion="1.1.0.83" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
