<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="countries" type="PurgeCloudflareCacheService.CountryNodeInfoHandler,PurgeCloudflareCacheService"/>
  </configSections>
  
  <countries interval="10000">
    <country id="3" dbConnectionKey="PriceMeDB_NZ" zoneId="23dd242519d5d5d22790584f6559f3b8" webSite="https://www.priceme.co.nz/" urlSeo="true"/>
    <country id="28" dbConnectionKey="PriceMeDB_PH" zoneId="525f540d13fb682a49d8b08dfb850872" webSite="https://www.priceme.com.ph/" urlSeo="true"/>
  </countries>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <appSettings>
    <add key="ApiEndPoint" value="https://api.cloudflare.com/client/v4/"/>
    <add key="ApiKey" value="d2d211116e60ba0e4148931b0161b59e6cb2c"/>
    <add key="ApiEmail" value="henrik@priceme.co.nz"/>
    <add key="MaxCount" value="30"/>
  </appSettings>

  <connectionStrings>
    <add name="PriceMeDB_NZ" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_NZ;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient"/>
    <add name="PriceMeDB_PH" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_PH;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
