<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="countries" type="PurgeCloudflareCacheService.CountryNodeInfoHandler,PurgeCloudflareCacheService" />
  </configSections>
  
  <countries interval="10000">
    <country id="3" dbConnectionKey="PriceMeDB_NZ" zoneId="23dd242519d5d5d22790584f6559f3b8" webSite="https://www.priceme.co.nz/" ampSite="https://amp.priceme.co.nz/" urlSeo="true" />
    <country id="28" dbConnectionKey="PriceMeDB_PH" zoneId="525f540d13fb682a49d8b08dfb850872" webSite="https://www.priceme.com.ph/" ampSite="https://amp.priceme.com.ph/" urlSeo="true" />
  </countries>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>

  <appSettings>
    <add key="ApiEndPoint" value="https://api.cloudflare.com/client/v4/" />
    <add key="ApiKey" value="d2d211116e60ba0e4148931b0161b59e6cb2c" />
    <add key="ApiEmail" value="henrik@priceme.co.nz" />
    <add key="MaxCount" value="30" />
  </appSettings>

  <connectionStrings>
    <add name="PriceMeDB_NZ" connectionString="Data Source=10.0.0.6;Initial Catalog=PriceMe_NZ;User ID=root;Password=123456priceme;Allow User Variables=True;SslMode = none;" providerName="MySql.Data.MySqlClient" />
    <add name="PriceMeDB_PH" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_PH;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySql.Data.MySqlClient" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data,Version=8.0.12.0, Culture=neutral,PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
