<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <clear />
    <add name="NZConnectionString" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_NZ;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient" />
    <add name="AUConnectionString" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_NZ;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient" />
    <add name="PHConnectionString" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_NZ;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient" />
    <add name="SGConnectionString" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_NZ;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient" />
    <add name="HKConnectionString" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_NZ;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient" />
    <add name="MYConnectionString" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_NZ;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient" />
    <add name="IDConnectionString" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_NZ;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient" />
    <add name="THConnectionString" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_NZ;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient" />
    <add name="VNConnectionString" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_NZ;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient" />
    <add name="CommerceTemplate" connectionString="Data Source=10.0.0.66;Initial Catalog=Pam_user;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Countrys" value="3,1,45"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>