<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="countries" type="PriceMeCommon.CountryNodeInfoHandler,PriceMeCommon"/>
  </configSections>
  
  <countries interval="10000">
    <country id="3" indexPathKey="IndexPathNZ" dbConnectionKey="PriceMeDB_NZ" configPath="E:\configFile\newlucene.config" finance="false" rtUpdateIndex="false">
      <velocity velocityHostName="12RMB-DBCenter" velocityPort="22233" velocityCacheHostName="DistributedCacheService" velocityRegion="NZ_PriceMe_4" />
    </country>
  </countries>
    
    <appSettings>

      <add key="Catalog" value="189,Cameras;6,Computers;2133,eBook Readers;1,Electronics;481,GPS Receivers;484,Hard drives;7,Laptops;37,LCD Monitors;355,Phones;186,Printers;2151,Tablets;1753,TVs" />
      <add key="CountryID" value="3"/>
      
      <add key="LogPath" value="E:\SiteMap\"/>
      <add key="PageSize" value="10"/>
      <add key="GoogleAccount" value="pricemega@gmail.com"/>
      <add key="GoogleAccountPwd" value="price#ga"/>
      <add key="GASource" value="PriceMe-Google-Analytics"/>
      <add key="GAProfileID" value="3879045"/>
      <add key="SiteMapPath" value="E:\Test\1\"/>
      <add key="CopySiteMapPath" value="E:\Test\2\"/>
      <add key="userid" value="PriceMe"/>
      <add key="password" value="123456"/>
      <add key="fileType" value="rar"/>
      <add key="targetIP" value="192.168.1.101"/>
      <add key="targetPath" value="TestS"/>
      <add key="useridImage" value="PM"/>
      <add key="passwordImage" value="123456zl"/>
      <add key="targetIPImage" value="192.168.1.109"/>
      <add key="targetPathImage" value="TestS"/>
      <add key="userid_FTP" value="PM"/>
      <add key="password_FTP" value="123456zl"/>
      <add key="targetIP_FTP" value="192.168.1.109:22"/>
      <add key="targetPath_FTP" value="FTP"/>
      <add key="SiteMapUrl" value="https://price.geekzone.co.nz"/>
      <add key="SiteMapFileName" value="nz"/>
      
      <add key="XmlPath" value="D:\Test\"/>
      <add key="WebPath" value="D:\TestCopy\"/>
    </appSettings>
    <connectionStrings>
        <clear/>
        <add name="PriceMeDB_NZ" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_NZ;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient" />
        <add name="CommerceTemplate" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_NZ;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient" />
        <add name="PriceMeDB_Common" connectionString="Data Source=10.0.0.66;Initial Catalog=Pam_User;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
