@charset "UTF-8";
.glyphicon-star {
  font-size: 16px;
  color: #ffd800;
  width: 16px; }

.glyphicon_star .empty::after, .glyphicon_star .half::after {
  content: '';
  color: #bdc3c7;
  top: 0;
  left: 0; }

.glyphicon_star {
  padding-top: 2px;
  text-align: left;
  width: 80px;
  display: inline-flex; }

.glyphicon_star .half {
  position: relative; }

.glyphicon_star .half::before {
  position: relative;
  z-index: 9;
  width: 47%;
  display: block;
  overflow: hidden; }

.glyphicon_star .half::after {
  position: absolute;
  z-index: 8; }

.glyphicon_star .empty {
  position: relative; }

.glyphicon_star .empty::before {
  position: relative;
  z-index: 9;
  width: 0%;
  display: block;
  overflow: hidden; }

.glyphicon_star .empty::after {
  position: absolute;
  z-index: 8; }

.default_page .ctcTitleTd {
  padding-left: 7px; }

.default_page .page-header {
  border-bottom: none !important;
  margin-top: 15px !important;
  padding-bottom: 9px;
  margin: 40px 0 20px; }

.default_page .filterTitle {
  font-size: 28px;
  font-weight: 500;
  color: #5d5d5d;
  display: inline; }

.default_page .glyphicon-filter {
  font-size: 20px; }

.default_page #filters {
  margin: 6px 0 24px 0; }
  .default_page #filters:after {
    content: "";
    display: block;
    clear: both; }
  .default_page #filters .priceSlider {
    width: 300px;
    margin-bottom: 10px; }

.default_page .popular_category:after {
  content: "";
  display: block;
  clear: both; }

.default_page .popular_category a {
  margin: 15px 15px 15px 0;
  float: left;
  width: 115px;
  padding: 5px;
  font-size: 16px; }

.default_page .popular_category a:hover {
  background-color: #428bca !important;
  background-image: none;
  color: white; }

.default_page .popular_category .btnGrays {
  background-color: #ccc;
  background-image: linear-gradient(to bottom, #fff, #e0e0e0);
  border-color: #ccc;
  color: #3d3f3f; }

.default_page .popular_category .btnClass {
  background-color: #eee;
  color: #000;
  position: relative;
  border-color: #ccc;
  border-radius: 6px; }

.default_page .popular_category .active {
  background-color: #428bca;
  color: white; }

.default_page .search {
  width: 610px;
  float: left;
  padding: 8px 0;
  margin-left: 10px; }
  @media screen and (max-width: 1200px) {
    .default_page .search {
      width: 430px; } }
  @media screen and (max-width: 1007px) {
    .default_page .search {
      width: 310px; } }
  @media screen and (max-width: 800px) {
    .default_page .search {
      width: 240px; } }
  .default_page .search input {
    padding-left: 30px;
    border-radius: 5px;
    background-image: url(https://images.pricemestatic.com/Images/PriceMeNewDesign/priceme_bg_home20150325_2.png);
    background-repeat: no-repeat;
    background-position: -9px -4px;
    float: none; }
  .default_page .search .drop {
    position: relative;
    display: none; }
    .default_page .search .drop .list {
      position: absolute;
      width: 100%;
      display: block;
      z-index: 100;
      background-color: white;
      border: 1px solid #ccc;
      border-top: 0px;
      max-height: 460px;
      overflow-y: auto; }
      .default_page .search .drop .list li {
        border-bottom: 1px solid #eee;
        overflow: hidden;
        cursor: default;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        padding: 5px 3px;
        height: 35px;
        line-height: 35px; }
        .default_page .search .drop .list li:hover {
          background: #ccc; }

.default_page .productInfo {
  font-size: 28px;
  font-weight: 500;
  line-height: 52px;
  color: #3d3d3d; }
  .default_page .productInfo .categoryDec {
    overflow: hidden;
    padding: 0;
    white-space: normal;
    text-overflow: initial; }

.default_page .products #catalogBar {
  overflow: visible;
  padding: 8px 5px;
  clear: both;
  background-color: #f9f9f9;
  margin: 8px 0;
  border-radius: 5px; }
  .default_page .products #catalogBar:after {
    content: "";
    display: block;
    clear: both; }
  .default_page .products #catalogBar > div {
    float: left; }
  .default_page .products #catalogBar .sortByDiv {
    min-width: 175px;
    min-height: 1px;
    text-align: right;
    margin-right: 30px; }
    .default_page .products #catalogBar .sortByDiv label {
      float: left;
      line-height: 32px; }
      .default_page .products #catalogBar .sortByDiv label span {
        color: gray; }
    .default_page .products #catalogBar .sortByDiv select {
      width: 190px;
      margin: 0 18px 0 0;
      background-color: #fff;
      height: 32px;
      font-size: 13px;
      border: 1px solid #ececec;
      color: #3d3d3d;
      border-radius: 0; }

.default_page .products #product-grid-view {
  border-left: 1px solid #ccc;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }
  .default_page .products #product-grid-view:after {
    content: "";
    display: block;
    clear: both; }
  .default_page .products #product-grid-view .product-grid-item {
    width: 233px;
    /*float: left;*/
    border: solid #ccc;
    border-width: 1px 1px 1px 0;
    position: relative;
    height: 300px;
    overflow: visible; }
    @media screen and (max-width: 768px) {
      .default_page .products #product-grid-view .product-grid-item {
        width: 360px; } }
    @media screen and (max-width: 400px) {
      .default_page .products #product-grid-view .product-grid-item {
        width: 300px; } }
    .default_page .products #product-grid-view .product-grid-item:hover {
      border-bottom: #fff;
      box-shadow: 2px 2px 2px #ccc;
      background: 0; }
    .default_page .products #product-grid-view .product-grid-item > a {
      margin: 10px auto 10px auto;
      display: block; }
    .default_page .products #product-grid-view .product-grid-item img {
      display: block;
      margin: 0 auto;
      width: 150px;
      height: 150px; }
    .default_page .products #product-grid-view .product-grid-item .productNameLink {
      display: block;
      margin: 5px auto;
      text-align: center;
      font-size: 14px;
      height: 42px;
      padding: 0 10px;
      overflow: hidden;
      font-weight: bold; }
    .default_page .products #product-grid-view .product-grid-item .productReviewDiv {
      margin: 5px auto;
      width: 74px;
      height: 15px; }
    .default_page .products #product-grid-view .product-grid-item .bestPPCDiv {
      padding: 3px 10px;
      width: auto; }
      .default_page .products #product-grid-view .product-grid-item .bestPPCDiv:after {
        clear: both;
        content: "";
        display: block; }
      .default_page .products #product-grid-view .product-grid-item .bestPPCDiv .price {
        width: 100%;
        color: #2a1051;
        text-align: center; }
        .default_page .products #product-grid-view .product-grid-item .bestPPCDiv .price .priceSpan {
          font-size: 17px; }
      .default_page .products #product-grid-view .product-grid-item .bestPPCDiv .priceCountDiv {
        font-size: 14px;
        text-align: center;
        color: gray; }
