<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

  <appSettings>
    <add key="daterange" value="2016/12/1-2016/12/12"/>
    <add key="pricetype" value="weekly"/>
    <add key="excelFilePath" value="F:\FisherAndPaykel_PriceMe - Proposed Template and Competitor List.xlsx"/>
    <add key="outputFilePath" value="F:\output\123.xls"/>
    <add key="logPath" value="F:\output\"/>
    <add key="ManufacturerIds" value="118553,117069,122331,86745,83244,116261,125464,116259,438,1138,147119,116279,42,116648,52,116258,116290,116260,122243,121930,1577,116262,24165,116854,116274"/>

    <add key="isancient" value="true"/>
    <add key="isreplace" value="false"/>
    <add key="RID" value="20" />
  </appSettings>

  <connectionStrings>    
    <add name="Priceme" connectionString="Data Source=10.0.0.26;Initial Catalog=Priceme;User ID=sa;Password=123456priceme; Connect Timeout=300000;Max Pool Size=1000;" providerName="System.Data.SqlClient"/>
    <add name="EDW" connectionString="Data Source=10.0.0.26;Initial Catalog=EDW;User ID=sa;Password=123456priceme; Connect Timeout=300000;Max Pool Size=1000;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
