<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

  <appSettings>
    <add key="daterange" value="2016/9/1-2016/10/31"/>
    <add key="pricetype" value="monthly"/>
    <add key="excelFilePath" value="F:\FisherAndPaykel_PriceMe - Proposed Template and Competitor List.xlsx"/>
    <add key="outputFilePath" value="F:\output\123.xls"/>
    <add key="logPath" value="F:\output\"/>
    <add key="ManufacturerIds" value="1138,42"/>

    <add key="isancient" value="true"/>
    <add key="isreplace" value="true"/>
  </appSettings>

  <connectionStrings>    
    <add name="Priceme" connectionString="Data Source=10.0.0.26;Initial Catalog=Priceme;User ID=sa;Password=123456priceme; Connect Timeout=3000;Max Pool Size=1000;" providerName="System.Data.SqlClient"/>
    <add name="EDW" connectionString="Data Source=10.0.0.26;Initial Catalog=EDW;User ID=sa;Password=123456priceme; Connect Timeout=3000;Max Pool Size=1000;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
