<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="Pricealyser" connectionString="Data Source=10.0.0.26;Initial Catalog=PriceMe;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <SubSonicService defaultProvider="SqlDataProvider" spClassName="SPs" fixPluralClassNames="true">
    <providers>
      <add name="SqlDataProvider" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="Pricealyser"/>
    </providers>
  </SubSonicService>
  <appSettings>
    <add key="LogPath" value="F:\Work\Code\Minitools\Yuanxiang\CheckImagesTool\Log"/>
    <add key="CheckImagePathDriver" value="F:\simg" />
    <add key="CheckImagePath" value="\img\" />
    <add key="CheckImagePathByKeyword" value="2014" />
    <add key="CreatedTimeOfImage" value="2013-10-15" />
    <add key="TableAndColumn" value="CSK_Store_Product,DefaultImage;CSK_Store_RetailerProduct,DefaultImage;CSK_Store_Image,ImageFile;CSK_Store_Manufacturer,ImagePath;CSK_Store_ProductIsMerged_Temp,NewProductImage;CSK_Store_Category,ImageFile;CSK_Util_Country,CountryImage;" />
    <add key="LargeImagePatch" value="F:\limg" />
    
    <add key="debug" value="true"/>

    <add key="targetIPAddress" value="192.168.1.100"/>
    <add key="targetuserid" value="administrator"/>
    <add key="targetpassword" value="yuanxiang"/>
    <add key="targetOriginalPath" value="copyimg"/>
    <add key="targetLargePath" value="Index\Report"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>