#lamiro-toolbar {
    box-shadow: 0 0 7px #000;
    -moz-box-shadow: 0 0 7px #000;
    -webkit-box-shadow: 0 0 7px #000;
    background: url('https://ciuvo.com/media/themes/lamiro/csg-4d7e4423f2aah.png') repeat-x 0 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    border-width: 0;
    clear: both;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 450px;
    height: 29px;
    z-index: 2147483647 !important;
    margin: 0 !important;
    padding: 0 !important;
    outline: 0 !important;
    text-align: left;
    vertical-align: baseline;
    overflow: visible;
}
