<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="SiteMapPath" value="G:\inetpub\wwwroot\GoogleSiteMapFiles\PricemeFinance"/>
    <add key="CopyPath" value="G:\inetpub\WebsiteVersionNZ\"/>
    <add key="CopyFileName" value="PricemeFinance"/>
    <add key="WebSiteRootUrl" value="http://www.priceme.co.nz/money/"/>
  </appSettings>

  <connectionStrings>
    <clear/>
    <add name="CommerceTemplate"  connectionString="Server=.;Initial Catalog=PricemeFinance;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="LocalSqlServer"  connectionString="Server=.;Initial Catalog=PricemeFinance;Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>