<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- DownLoad Image -->
    <!--<add key="FilePath" value="F:\Work\Minitools\Yuanxiang\Log\B7.txt" />
    <add key="ImagePath" value="F:\Work\Minitools\Yuanxiang\Log\Images"/>-->

    <add key="RefreshToken" value="3eee627a-108d-46e9-9039-b2c6f229cced" />
  </appSettings>

  <connectionStrings>
    <clear />
    <add name="CommerceTemplate" connectionString="Server=10.0.0.66;Initial Catalog=ShopNz;User ID=sa;Password=123456priceme;Packet Size=8192;Max Pool Size=1000;" providerName="System.Data.SqlClient"></add>
    <add name="Pricealyser" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_NZ;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>