<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="CommerceTemplate" connectionString="Data Source=10.0.0.66;Initial Catalog=priceme;User ID=sa;Password=123456priceme; Connect Timeout=30;Max Pool Size=1000;" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
  <appSettings>
    <add key="categories" value="select CategoryID,CategoryName from CSK_Store_Category where CategoryID in (11,7,2,363)"/>
    <add key="useProduct" value="false"/>
    <add key="score" value="0.5"/>
    <add key="priceRate" value="0.2"/>
    <add key="RPIndexPath" value="H:\dd\" />
    <add key="createModel" value="false" />

    <add key="FirstCharacterIsLetter" value="true" />
    <add key="IncludeCharacterAndLetter" value="true" />
    <add key="LengthModel" value="4" />


  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Lucene.Net" publicKeyToken="85089178b9ac3181" />
        <codeBase version="2.9.4.1" href="Lucene.Net1.dll" />
        <codeBase version="3.0.3.0" href="Lucene.Net.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>