<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>

  <appSettings>
    <!--Parse云数据服务配置-->
    <add key="ParseAPPID" value="tPtZLPKKnNuLb1k47mC5rLQDpW1DgHJQrDTnq4uR"/>
    <add key="ParseNETSDK" value="gXju6atbRLcvFZkupsR1dpdWVdGR9i5wLLg6FZBR"/>
    <add key="ParseServer" value="http://120.138.24.86:13378/parse/"/>

    <add key="PriceSymbol" value="$"/>
    <add key="PriceLimit" value="60%"/>
    <add key="IsDebug" value="true"/>
    <add key="Culture" value="en-NZ"/>
    <add key="DebugToken" value="erGABzlnJOI:APA91bGknL_PU1tc-hxTnNEpPVh4krY1rEChLlu8dvRasXA1fP2-zW336vgtNFsWvUGYqd5EErM_8JRl5BOAzDUss-23_4hTGelrcaRgVHT4fTukf9UxRp1NgV1gbDYJREI1R8DQ6COa"/>
    <add key="DebugDeviceType" value="0"/><!--0 Android, 1 IOS-->
    <add key="ApplicationId" value="AAAA3PKgy6A:APA91bGd5bTHXXafE97N_I_0WMrUeiAR-2biG-NmZiGa1nndjaUQkNhF1WfME3eOIZG-4f0mOptARDAnT3E6ps1l4BMGpSQRdN4Pow70MMLYuM8jm1CZDjeyCRTyZr0wUhi_5rOi008r"/>
    <add key="SenderId" value="948963429280"/>
    <add key="CountryId" value="3"/>
    <add key="LogPath" value="E:\Log\FCM"/>
    

  </appSettings>

  <connectionStrings>
    <add name="CommerceTemplate" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_NZ;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
