<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="countries" type="PriceMeCommon.CountryNodeInfoHandler,PriceMeCommon"/>
  </configSections>

  <countries interval="10000">
    <country id="3" indexPathKey="IndexPathNZ" dbConnectionKey="PriceMeDB_NZ" configPath="E:\configFile\newlucene.config" finance="true" rtUpdateIndex="false">
      <velocity velocityHostName="10.0.0.6" velocityPort="22233" velocityCacheHostName="DistributedCacheService" velocityRegion="NZ_PriceMe_5"/>
    </country>
  </countries>


  <!--<country id="28" indexPathKey="IndexPathPH" dbConnectionKey="PriceMeDB_PH" configPath="E:\configFile\newlucene.config" finance="true">
      <velocity velocityHostName="10.0.0.6" velocityPort="22233" velocityCacheHostName="DistributedCacheService" velocityRegion="PH_PriceMe_5" />
    </country>-->
  
  <connectionStrings>
    <add name="PriceMeDB_NZ" connectionString="Data Source=10.0.0.6;Initial Catalog=PriceMe_NZ;User ID=root;Password=123456priceme;Allow User Variables=True" providerName="MySql.Data.MySqlClient" />
    <add name="PriceMeDB_AU" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_AU;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient"/>
    <add name="PriceMeDB_HK" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_HK;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient"/>
    <add name="PriceMeDB_PH" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_PH;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient"/>
    <add name="PriceMeDB_Common" connectionString="Data Source=10.0.0.6;Initial Catalog=Pam_User_bak;User ID=root;Password=123456priceme;Allow User Variables=True" providerName="MySql.Data.MySqlClient"/>
    
    <add name="CommerceTemplate" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_205;User ID=sa;Password=123456priceme;Packet Size=8192;Max Pool Size=1000;" providerName="System.Data.SqlClient"/>
    <add name="UpdateDBConnection" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_205;User ID=sa;Password=123456priceme;Packet Size=8192;Max Pool Size=1000;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="IndexRootPath" value="E:\LuceneIndex\"/>
    <add key="LogDirectory" value="C:\IndexBuildLog\"/>
    <add key="ClickBoost" value="100"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="UseFixedPath" value="true"/>
    <add key="RefreshCacheOnly" value="false"/>
    <add key="RetailerAmountBoost" value="2"/>
    <add key="ClicksPercentumBoost" value="10"/>
    <add key="IsAccessoryBoost" value="100"/>
    <add key="ImageBoost" value="21"/>
    <add key="UnlimitedPPC" value="0"/>
    <add key="userid" value="PM"/>
    <add key="password" value="123456zl"/>
    <add key="fileType" value="rar"/>
    <add key="targetIP" value="192.168.1.109"/>
    <add key="targetPath" value="F\ZL"/>
    <add key="userid2" value="xling"/>
    <add key="password2" value="priceme"/>
    <add key="targetIP2" value="192.168.1.119"/>
    <add key="targetPath2" value="TestS"/>
    <add key="TargetLuceneIndexRootPath2" value="E:\TestS\TestConfig"/>
    <add key="TargetLuceneConfigPath2" value="TestS\TestConfig\newlucene.config"/>
    <add key="LuceneConfigPath" value="D:\configFile\newlucene.config"/>
    <add key="TargetLuceneConfigPath" value="TestS\TestConfig\newlucene.config"/>
    <add key="LocalLuceneConfigPath" value="D:\configFile\newlucene.config"/>
    <add key="TargetLuceneIndexRootPath" value="E:\TestS\TestConfig"/>
    <add key="PriceLimitPercent" value="0.25"/>
    <add key="UpdateDataBase" value="true"/>
    <add key="CountryID" value="3"/>
    <add key="FixPriceFlag" value="2"/>
    <add key="VersionFormat" value="yyyyMMddHH"/>
    <add key="FlagHour" value="18"/>
    <add key="FlagVelocityHour" value="19"/>
    <add key="UseVelocity" value="false"/>
    <add key="UseCurrentDatePath" value="true"/>
    <add key="UpdateProductCategory" value="false"/>
    <add key="HiddenManufacturerCategoryIDs" value="8,20"/>
    <add key="RelatedManufacturerCategories" value="15"/>
    <add key="WebsiteID" value="1"/>
    <add key="OnlyPPC" value="false"/>
    <add key="CopyTo2" value="false"/>
    <add key="ThreadCount" value="1"/>
    <add key="NotCopy" value="_UnDisplay"/>
    <add key="MergeIndexPath" value="E:\LuceneIndex\20120820\"/>
    <add key="Currencies" value="1:1.285,28:0.0298,41:0.161"/>
    <add key="CopyTo3" value="false"/>
    <add key="userid3" value="xling"/>
    <add key="password3" value="priceme"/>
    <add key="targetIP3" value="192.168.1.119"/>
    <add key="targetPath3" value="TestS"/>
    <add key="TargetLuceneIndexRootPath3" value="E:\TestS\TestConfig"/>
    <add key="TargetLuceneConfigPath3" value="TestS\TestConfig\newlucene.config"/>

    <add key="CopyToFtp" value="true"/>
    <add key="userid_FTP" value="PM"/>
    <add key="password_FTP" value="123456zl"/>
    <add key="targetIP_FTP" value="192.168.1.109"/>
    <add key="targetPath_FTP" value="HK"/>
    <add key="TargetLuceneIndexRootPath_FTP" value="E:\TestS\TestConfig\"/>
    <add key="TargetLuceneConfigPath_FTP" value="HK\"/>
    <add key="TargetLuceneConfigName" value="lucene.config"/>
    <add key="LuceneConfigFileCopyDir" value="E:\"/>
    <add key="TestCopyFTP" value="false"/>
    <add key="TestCopyIndexPath" value="E:\LuceneIndex\20120718_HK\"/>

    <add key="UpdateRelatedManufacturerCategoriesDays" value="8"/>
      <add key="UpdateTrackAndRating" value="false"/>

      <add key="MergeIndex" value="false"/>

      <add key="CopyMerged" value="false"/>
      <add key="useridMerged" value="xling"/>
      <add key="passwordMerged" value="priceme"/>
      <add key="targetIPMerged" value="192.168.1.119"/>
      <add key="targetPathMerged" value="TestS"/>
      <add key="TargetLuceneIndexRootPathMerged" value="E:\TestS\TestConfig"/>
      <add key="TargetLuceneConfigPathMerged" value="TestS\TestConfig\newlucene.config"/>

      <add key="PriceAlertPath" value="E:\test.exe"/>
      <add key="reviewStr" value="review"/>
      <add key="AutoLoadCategoryController" value="true"/>

      <add key="RAMBufferSizeMB" value="300"/>
      <add key="MergeFactor" value="1000"/>
      <add key="MaxBufferedDocs" value="2000"/>
      <add key="MaxMergeDocs" value="20000"/>
  
    <add key="VersionNoEnglishCountryid" value="51,41,55"/>

    <add key="Email" value="test@163.com"/>
    <add key="InfoEmail" value="test@163.com"/>

    <add key="PriceChange" value="0.3"/>

    <add key="UseOriginalIndex" value="10"/> <!--当前时间大于等于这个配置的小时时间就Copy原始的Index-->
    <add key="UseLatestLuceneDir" value="true"/><!---因为和网站代码公用的原因，Index工具需要配置这个，始终为true-->
    <add key="PrevPriceDay" value="150"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

  <system.net>
    <mailSettings>
      <smtp>
        <network host="127.0.0.1" password="" port="25" userName=""/>
      </smtp>
    </mailSettings>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
