<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>

  <appSettings>
    <add key="LogRootPath" value="E:\"/>
    <add key="FeedRootPath" value="E:\"/>
    <add key="FeedFilePrefix" value="Ali1"/>
    <add key="ChromeWebDriverDir" value="E:\"/><!--chromedriver.exe所在目录-->
    <add key="MapFile" value="E:\AliMap.txt"/>
    <add key="Country" value="New Zealand"/>
    <add key="Currency" value="NZD"/>
    <add key="Account" value="20635287@qq.com"/>
    <add key="Password" value="leizhen1510"/>
  
    <add key="RabbitMQ_Host" value="rabbitmq://localhost/"/>
    <add key="RabbitMQ_UserName" value="guest"/>
    <add key="RabbitMQ_Password" value="guest"/>

    <add key="targetPathFTP" value="AliExpressNew" />
    <add key="targetIPFTP" value="10.0.0.6" />
    <add key="userIDFTP" value="PM" />
    <add key="passwordFTP" value="123456zl" />
  </appSettings>
</configuration>
