<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <!--<add name="CommerceTemplate" connectionString="Data Source=12RMB-DBCENTER;Initial Catalog=PriceMe;User ID=sa;Password=123456priceme;Connect Timeout=30;" providerName="System.Data.SqlClient"/>-->
        <add name="CommerceTemplate1" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_nz;User ID=sa;Password=123456priceme;Connect Timeout=30;Max Pool Size=1000;" providerName="System.Data.SqlClient"/>
      <add name="CommerceTemplate" connectionString="Data Source=10.0.0.6;Initial Catalog=PriceMe_nz;User ID=root;Password=123456priceme;Allow User Variables=True" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
