<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RabbitMQ_Host" value="rabbitmq://localhost/" />
    <add key="RabbitMQ_UserName" value="guest" />
    <add key="RabbitMQ_Password" value="guest" />
    <add key="RabbitMQ_QueueName" value="Shop_queue" />
    <add key="RabbitMQ_Prefetch" value="1" />

    <add key="LogLocation" value="f:\log\ImportLog" />
    <add key="EndTaskTime" value="8" />
    <add key="Rate" value="80%"/>
    <add key="Day" value="8"/>

    <add key="UserID" value="UserID" />
    <add key="Password" value="Password" />
    <add key="TargetIP" value="TargetIP" />
    <add key="TargetPath" value="TargetPath" />

    <add key="WSAccessKey" value="0ZY4PSJK9RC3FMPQVB02"/>
    <add key="WSSecretKey" value="rRK5GHwelS25Yk5XOLDYLuN8W9I0czKys5n+Tu1D"/>
  <add key="TestFeedPath" value="F:\Work\Minitools\Yuanxiang\AliexpressUpdateImport\Ali1_2017_09_06 09_46.csv" />
  </appSettings>
  <connectionStrings>
    <add name="CommerceTemplate" connectionString="Server=10.0.0.66;Initial Catalog=ShopNz;User ID=sa;Password=123456priceme; Connect Timeout=8000;Packet Size=8192;Max Pool Size=1000;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.diagnostics>
    <sources>
      <source name="Aliexpress Import" switchValue="Verbose">
        <listeners>
          <add name="console" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>