<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="BudgetReportEmail" value="accounts@priceme.co.nz"/>
    <add key="SendBudgetEmail" value="0"/><!--是否发送超预算邮件给Retailer,[0-不发，1-发]-->

    <add key="Subject" value="Budget Test"/>
    <add key="Email" value="PriceMe &lt;admin@priceme.com&gt;"/>
    <add key="WSAccessKey" value="0ZY4PSJK9RC3FMPQVB02" />
    <add key="WSSecretKey" value="rRK5GHwelS25Yk5XOLDYLuN8W9I0czKys5n+Tu1D" />

  </appSettings>

  <connectionStrings>
    <add name="CommerceTemplate" connectionString="Data Source=10.0.0.26;Initial Catalog=priceme;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>