<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="LogRootPath" value="E:\" />
    <add key="FeedRootPath" value="E:\" />
    <add key="IncludeCategoriesSQL" value="SELECT CategoryID FROM CSK_Store_Category where CategoryID in (2)" />
    <add key="MinPrice" value="100" />
  </appSettings>

  <connectionStrings>
    <add name="PriceMeDB" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_205;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>