<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>

  <appSettings>
    <add key="Title" value="GDPR"/>
    <add key="Email" value="Channelyser &lt;info@channelyser.com&gt;"/>
    <add key="WSAccessKey" value="0ZY4PSJK9RC3FMPQVB02"/>
    <add key="WSSecretKey" value="rRK5GHwelS25Yk5XOLDYLuN8W9I0czKys5n+Tu1D"/>
    <add key="UserID" value="0"/>
  </appSettings>

  <connectionStrings>
    <add name="PriceMeTemplate" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_NZ;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient"/>    
  </connectionStrings>

</configuration>