<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
    <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
    <section name="TaxService" type="Commerce.Providers.TaxServiceSection" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
    <section name="FulfillmentService" type="Commerce.Providers.FulfillmentServiceSection" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
    <section name="PaymentService" type="Commerce.Providers.PaymentServiceSection" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
    <section name="GeneralSettings" type="GeneralSettings" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,  Microsoft.Practices.EnterpriseLibrary.Caching" />
    <section name="countries" type="PriceMeCommon.CountryNodeInfoHandler,PriceMeCommon" />
  </configSections>
  <system.web>
    <compilation targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="HotterWinds.ViewModels" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <customErrors defaultRedirect="404.aspx" mode="RemoteOnly">
      <error statusCode="404" redirect="404.aspx" />
      <error statusCode="500" redirect="500.aspx" />
    </customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
	<httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/500.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <countries interval="10000">
    <country id="25" indexPathKey="IndexPathHW" dbConnectionKey="PriceMeDB" configPath="F:\LuceneWebConfig\HW\lucene.config" finance="false" rtUpdateIndex="false">
      <velocity velocityHostName="localhost" velocityPort="22233" velocityCacheHostName="DistributedCacheService" velocityRegion="HW_PriceMe_3" />
    </country>
  </countries>
  <appSettings>
    <add key="NewRelic.AppName" value="Hotterwind"></add>
    <add key="NewRelic.agentEnabled" value="true"></add>
    <add key="productGMapZoom" value="13" />
    <add key="SearchClauseBoolean" value="AND" />
    <add key="metaKeywords" value="Compare, Product Review, Product level, Compare price, Price information, best product" />
    <add key="NullSearchKeyWords" value="Canon" />
    <add key="cssVersion" value="1708220" />
    <add key="ClickMax" value="70" />
    <add key="GoogleAdsense" value="pub-6992217816861590" />
    <add key="GoogleAnalytis" value="UA-1779958-2" />
    <add key="BlogUrl" value="https://hotterwinds.co.nz/blog/index.php/feed/" />
    <add key="BlogRetailerUrl" value="https://hotterwinds.co.nz/blog/index.php/category/retailers/feed" />
    <add key="CRM.soap" value="http://crm.dooyoo.co.nz/soap.php" />
    <add key="CRMAdmin" value="admin" />
    <add key="CRMAdminPwd" value="pri#ce@meCMR" />
    <add key="CRMAssignToUserID" value="a9c9130e-3f0f-dbf7-0cec-49c21ce43bf4" />
    <add key="VelocityHostName" value="localhost" />
    <add key="VelocityPort" value="22233" />
    <add key="VelocityCacheHostName" value="DistributedCacheService" />
    <add key="VelocityRegion" value="HW_PriceMe_3" />
    <add key="QuickListCount" value="100" />
    <add key="RelatedManufacturerCategories" value="20" />
    <add key="LuceneConfigPath" value="F:\LuceneWebConfig\HW\lucene.config" />
    <add key="ViewTrackingLifecycle" value="3800" />
    <add key="EmailAddress" value="info@priceme.co.nz" />
    <add key="CountryID" value="25" />
    <add key="LuceneIndexReadOnly" value="true" />
    <add key="LogDirectory" value="G:\PriceMeWebLog\Hotterwind\" />
    <add key="RetailerSignUpEmails" value="info@hotterwinds.co.nz" />
    <add key="UseVelocity" value="true" />
    <add key="HomePageTilte" value="Find Great Deals &amp;amp;amp; Compare Prices - Hotter Winds" />
    <add key="CatalogPageTilteTail" value="Deals - Hotter Winds" />
    <add key="ProductPageTilteTail" value="Deals - Hotter Winds" />
    <add key="RetailerProductPageTilteTail" value="Deals - Hotter Winds" />
    <add key="UrlSeo" value="true" />
    <add key="BannerTop" value="http://images.priceme.co.nz/images/banner/dgmbanner.jpg" />
    <add key="BannerTopUrl" value="" />
    <add key="FacebookAppID" value="220096508009264" />
    <add key="LuceneCountryInfo" value="25,IndexPathHW;" />
    <add key="InfoEmail" value="info@priceme.co.nz" />
    <add key="ShoppingPowered" value="PriceMe Channel Partners" />
    <add key="FinanceWebsite" value="false" />
    <add key="ClickStatisticsSecurityKey" value="ag*1({0}%4^a" />
    <add key="RetaileReviewEmail" value="info@hotterwinds.co.nz" />
    <add key="TestFreaksUrl" value="http://www.testfreaks.co.nz" />
    <add key="iContact_listid" value="142903" />
    <add key="iContact_specialid_value" value="TKW0" />
    <add key="iContact_formid" value="9845" />
    <add key="reviewStr" value="review" />
    <add key="StartDebug" value="false"></add>
    <add key="DoNotRemoveNoProductCategory" value="false"></add>
    <add key="PartnersImage" value="https://images.pricemestatic.com/images/css/footer.png" />
    <add key="GoogleAdsense2" value="pub-6992217816861590" />
    <add key="GoogleSlot_GoogleAds_Top" value="5905908879" />
    <add key="GoogleSlot_BannerRight" value="6745551738" />
    <add key="GoogleSlot_GoogleAds" value="2554326470" />
    <add key="ReportEmail" value="info@hotterwinds.co.nz" />
    <add key="MobilePlanProfiles" value="0-300,0-500;200-999,200-1536;1000+,300-1536;0-999,1536+;1000+,2048+" />
    <add key="ForumTopicURLFormat" value="http://forum.priceme.co.nz/topic/{0}-{1}/" />
    <add key="UUID" value="UA-3D98DD1E6D94C00" />
    <add key="pricemeLogo" value="/Images/PriceMeNewDesign/priceme_nn.png" />
    <add key="VersionNoEnglishCountryid" value="51,41,55" />
    <add key="MySqlDBPrefix" value="pm" />
    <add key="CRMToken" value="84dbdfb72630cdb16f3018f7abb43489" />
    <add key="AWSAccessKey" value="0ZY4PSJK9RC3FMPQVB02" />
    <add key="AWSSecretKey" value="rRK5GHwelS25Yk5XOLDYLuN8W9I0czKys5n+Tu1D" />
    <add key="ReceiveCRMMailAdmin" value="Jasseff" />
    <add key="ReceiveCRMMailAdminEAddress" value="jasseff@priceme.com" />
    <add key="ShowForum" value="true" />
    <add key="shortCountry" value="" />
    <add key="ProductReviewEmail" value="pricememt@gmail.com" />
    <add key="HomeLogoUrl" value="/Images/PriceMeNewDesign/pricemelogo150323.png" />
    <add key="HomeHotRootCategories" value="355,189,6,365,3399,3400" />
    <!--首页上部大类的优先排序,用","隔开-->
    <add key="NewRelic.AppName" value="PriceMe NZ"></add>
    <add key="NewRelic.agentEnabled" value="true"></add>
    <!--Parse云数据服务配置-->
    <add key="ParseAPPID" value="tPtZLPKKnNuLb1k47mC5rLQDpW1DgHJQrDTnq4uR" />
    <add key="ParseNETSDK" value="gXju6atbRLcvFZkupsR1dpdWVdGR9i5wLLg6FZBR" />
    <add key="ParseJavascriptSDK" value="ecsOkEfkl5evwjOciSTFeL3vtLWQQkNaI1Nux7Up" />
    <add key="IsChristmas" value="false" />
    <!--true表示是圣诞节，首页显示圣诞节图片， 其他表示不是圣诞节-->
    <add key="ConsumerFeedUrl" value="https://www.priceme.co.nz/consumer/feed/" />
    <add key="BootstrapCssPath" value="https://images.pricemestatic.com/Images/CSSJsHW14/BootstrapCssPathNZ" />
    <add key="CssJsPath" value="https://hotterwinds.co.nz" />
    <add key="PriceChange" value="1" />
    <add key="ABTestingKey" value="true" />
    <add key="ParseServer" value="http://localhost:13377/parse/" />
    <!--ParseServer的链接-->
    <add key="SaleRate" value="0.01" />
    <!-- 产品降价百分比控制功能key 来自 Deals -->
    <add key="minimumPrice" value="10" />
    <!-- 产品的最小价格控制功能key 来自 Deals-->
    <add key="BlogURLPath" value="https://hotterwinds.co.nz/blog" />
    <!--footer那里bolg的链接-->
    <add key="HttpPath" value="https" />
    <!--针对consumer的链接在footer那里，是用https访问还是http访问-->
    <add key="ParseRPServer" value="http://www.priceme.com:13377/parse/" />
    <add key="GoogleAnalytis_require" value="GTM-MD6VW3P" />
    <add key="Use_GoogleTrackConversion" value="0" />
    <!--是否使用google转化比例记录 ， 1记录， 0不记录-->
    <add key="DisplayApp" value="True" />
    <!--是否显示iphonesinginup页面在首页和footer那里-->
    <add key="Gclid" value="123xyz" />
    <!--定义 /?gclid=后面的参数-->
    <add key="IphoneSignup" value="false" />
    <!--iphonesignup页面是否使用最新的css js文件-->
    <add key="GoogTagKey" value="GTM-Z7H3" />
    <!--配置Tags for google optimize代码里面的值-->
    <add key="NPcategoryID" value="806,1040,1064,1019" />
	<add key="trackday" value="90" />
  </appSettings>
  <connectionStrings>
    <clear />

    <add name="HotterWinds" connectionString="Server=.;Initial Catalog=HotterWind;Integrated Security=true;" providerName="System.Data.SqlClient" />   
 <add name="MySqlConnectionString" connectionString="Data Source=120.138.24.68;Initial Catalog=ipboard;User ID=root;Password=leizhen1510;" providerName="System.Data.SqlClient" />

    <add connectionString="Server=.;Initial Catalog=HotterWind;Integrated Security=true;" name="CommerceTemplate" providerName="System.Data.SqlClient" />
    <add connectionString="Server=.;Initial Catalog=HotterWind;Integrated Security=true;" name="PriceMeDB" providerName="System.Data.SqlClient" />
    <add connectionString="Server=.;Initial Catalog=PricemePlans;Integrated Security=true;" name="CommerceTemplate_Plan" providerName="System.Data.SqlClient" />

    <add connectionString="Server=.;Initial Catalog=Pam_user;Integrated Security=true;" name="PriceMeDB_Common" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
<!--ProjectGuid: D71BC8E4-77AB-474F-97E6-8A4E3D2FB581-->