@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style type="text/css">
    .row {
        padding: 10px 0;
    }

    h1, h4 {
        font-weight:bold;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <h1>Black Friday 2018</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <img style="float:left;" src="https://s3-ap-southeast-1.amazonaws.com/s3.pricemestatic.com/Images/PriceMeVersion/black-friday-128.png" />
        <p style="padding:10px 0 0 150px;">All "Black Friday" 2018 deals in one place. On Friday the 23rd of November shopping mania breaks out in New Zealand with the arrival of Black Friday.</p>
    </div>    
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Black Friday kick off in</h4>
        <div class="clock" style="margin:2em 2em 2em 0;"></div>

        <script type="text/javascript">
            var clock;

            $(document).ready(function () {
                var clock;

                clock = $('.clock').FlipClock({
                    clockFace: 'DailyCounter',
                    autoStart: false,
                    callbacks: {
                        stop: function () {
                            $('.message').html('The clock has stopped!');
                        }
                    }
                });

                var currentDate = new Date();
                var blackFridayDate = new Date(2018, 10, 23);

                var timespan = blackFridayDate / 1000 - currentDate / 1000;

                clock.setTime(timespan);
                clock.setCountdown(true);
                clock.start();

            });
        </script>
    </div>
</div>

<div class="row">

    <form method="post" action="">


        <div class="col-md-3">
            <label for="txtEmail">Newsletter sign-up:</label>
            <input type="email" id="txtEmail" name="txtEmail" class="form-control" placeholder="Email" required />
        </div>
        <div class="col-md-9">
            <button type="submit" class="btn btn-primary" style="margin-top:25px;">Sign Up</button>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Black Friday Infomation</h4>
        <div>
            @Model.Description
        </div>
    </div>
</div>

@if (ViewData["signup"] != null)
{
    <script type="text/javascript">
        alert('@ViewData["signup"]');
    </script>
}