<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="countries" type="PriceMeCommon.CountryNodeInfoHandler,PriceMeCommon" />
  </configSections>
  <countries interval="10000">
    <country id="3" indexPathKey="IndexPathNZ" dbConnectionKey="Pricealyser" configPath="F:\LuceneWebConfig\NZ\lucene.config" finance="true" rtUpdateIndex="false">
      <velocity velocityHostName="localhost" velocityPort="22233" velocityCacheHostName="DistributedCacheService" velocityRegion="NZ_PriceMe_3" />
    </country>
  </countries>

  <appSettings>
    <add key="minimumPrice" value="10" />
    <add key="SaleRate" value="6%" />
    <add key="expireSoonSpan" value="5" />
    <add key="productGMapZoom" value="13" />
    <add key="SearchClauseBoolean" value="AND" />
    <add key="metaKeywords" value="Compare, Product Review, Product level, Compare price, Price information, best product" />
    <add key="NullSearchKeyWords" value="Canon" />
    <add key="cssVersion" value="1609152" />
    <add key="ClickMax" value="70" />
    <add key="GoogleAdsense" value="pub-6992217816861590" />
    <add key="GoogleAnalytis" value="UA-1779958-2" />
    <add key="BlogUrl" value="https://Blog.priceme.co.nz/index.php/feed/" />
    <add key="BlogRetailerUrl" value="https://Blog.priceme.co.nz/index.php/category/retailers/feed" />
    <add key="CRM.soap" value="http://crm.dooyoo.co.nz/soap.php" />
    <add key="CRMAdmin" value="admin" />
    <add key="CRMAdminPwd" value="pri#ce@meCMR" />
    <add key="CRMAssignToUserID" value="a9c9130e-3f0f-dbf7-0cec-49c21ce43bf4" />
    <add key="VelocityHostName" value="localhost" />
    <add key="VelocityPort" value="22233" />
    <add key="VelocityCacheHostName" value="DistributedCacheService" />
    <add key="VelocityRegion" value="NZ_PriceMe_3" />
    <add key="QuickListCount" value="100" />
    <add key="RelatedManufacturerCategories" value="20" />
    <add key="ViewTrackingLifecycle" value="3800" />
    <add key="EmailAddress" value="info@priceme.co.nz" />
    <add key="CountryID" value="3" />
    <add key="LuceneIndexReadOnly" value="true" />
    <add key="LogDirectory" value="G:\PriceMeWebLog\deals\" />
    <add key="RetailerSignUpEmails" value="may@priceme.co.nz,hgjson@yahoo.com" />
    <add key="UseVelocity" value="true" />
    <add key="HomePageTilte" value="PriceMe - Price Comparison New Zealand - Check Best Prices &amp;amp; Shop Online" />
    <add key="CatalogPageTilteTail" value="NZ - Compare &amp;amp; Buy {0} Online - PriceMe" />
    <add key="ProductPageTilteTail" value="NZ Prices - PriceMe" />
    <add key="RetailerProductPageTilteTail" value=" - Compare NZ Prices On Price Me" />
    <add key="UrlSeo" value="true" />
    <add key="BannerTop" value="https://images.priceme.co.nz/images/banner/dgmbanner.jpg" />
    <add key="BannerTopUrl" value="" />
    <add key="FacebookAppID" value="220096508009264" />
    <add key="LuceneCountryInfo" value="3,IndexPathNZ;" />
    <add key="InfoEmail" value="info@priceme.co.nz" />
    <add key="ShoppingPowered" value="PriceMe Channel Partners" />
    <add key="FinanceWebsite" value="true" />
    <add key="ClickStatisticsSecurityKey" value="ag*1({0}%4^a" />
    <add key="RetaileReviewEmail" value="candy@priceme.co.nz" />
    <add key="TestFreaksUrl" value="http://www.testfreaks.co.nz" />
    <add key="iContact_listid" value="142903" />
    <add key="iContact_specialid_value" value="TKW0" />
    <add key="iContact_formid" value="9845" />
    <add key="reviewStr" value="review" />
    <add key="StartDebug" value="false" />
    <add key="DoNotRemoveNoProductCategory" value="false" />
    <add key="PartnersImage" value="https://images.pricemestatic.com/images/css/footer.png" />
    <add key="GoogleAdsense2" value="pub-6992217816861590" />
    <add key="GoogleSlot_GoogleAds_Top" value="5905908879" />
    <add key="GoogleSlot_BannerRight" value="6745551738" />
    <add key="GoogleSlot_GoogleAds" value="2554326470" />
    <add key="ReportEmail" value="info@priceme.com" />
    <add key="MobilePlanProfiles" value="0-300,0-500;200-999,200-1536;1000+,300-1536;0-999,1536+;1000+,2048+" />
    <add key="ForumTopicURLFormat" value="http://forum.priceme.co.nz/topic/{0}-{1}/" />
    <add key="UUID" value="UA-3D98DD1E6D94C00" />
    <add key="pricemeLogo" value="/Images/PriceMeNewDesign/priceme_nn.png" />
    <add key="VersionNoEnglishCountryid" value="51,41,55" />
    <add key="MySqlDBPrefix" value="pm" />
    <add key="CRMToken" value="84dbdfb72630cdb16f3018f7abb43489" />
    <add key="AWSAccessKey" value="0ZY4PSJK9RC3FMPQVB02" />
    <add key="AWSSecretKey" value="rRK5GHwelS25Yk5XOLDYLuN8W9I0czKys5n+Tu1D" />
    <add key="ReceiveCRMMailAdmin" value="Jasseff" />
    <add key="ReceiveCRMMailAdminEAddress" value="jasseff@priceme.com" />
    <add key="ShowForum" value="true" />
    <add key="shortCountry" value="" />
    <add key="ProductReviewEmail" value="pricememt@gmail.com" />
    <add key="HomeLogoUrl" value="/Images/PriceMeNewDesign/pricemelogo150323.png" />
    <add key="HomeHotRootCategories" value="355,189,6,365,3399,3400" />
    <!--首页上部大类的优先排序,用","隔开-->
    <add key="NewRelic.AppName" value="PriceMe NZ" />
    <add key="NewRelic.agentEnabled" value="true" />
    <!--Parse云数据服务配置-->
    <add key="ParseAPPID" value="tPtZLPKKnNuLb1k47mC5rLQDpW1DgHJQrDTnq4uR" />
    <add key="ParseNETSDK" value="gXju6atbRLcvFZkupsR1dpdWVdGR9i5wLLg6FZBR" />
    <add key="ParseJavascriptSDK" value="ecsOkEfkl5evwjOciSTFeL3vtLWQQkNaI1Nux7Up" />
    <add key="IsChristmas" value="false" />
    <!--true表示是圣诞节，首页显示圣诞节图片， 其他表示不是圣诞节-->
    <add key="ConsumerFeedUrl" value="https://www.priceme.co.nz/consumer/feed/" />
    <add key="BootstrapCssPath" value="https://images.pricemestatic.com/Images/CSSJs871/BootstrapCssPathNZ" />
    <add key="CssJsPath" value="https://images.pricemestatic.com/Images/CSSJs871" />
    <add key="pricechange" value="1" />
    <add key="ABTestingKey" value="true" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="MySqlConnectionString" connectionString="Data Source=120.138.20.148;Initial Catalog=ipboard;User ID=root;Password=leizhen1510;" providerName="System.Data.SqlClient" />
    <add connectionString="Server=.;Database=Pam_user;Integrated Security=true" name="CommerceTemplate_Common_Write" providerName="System.Data.SqlClient" />
    <add connectionString="Server=.;Database=Pam_user;Integrated Security=true" name="CommerceTemplate_Common" providerName="System.Data.SqlClient" />
    <add connectionString="Server=.;Database=Priceme_NZ;Integrated Security=true" name="CommerceTemplate" providerName="System.Data.SqlClient" />
    <add connectionString="Server=.;Database=PricemePlans;Integrated Security=true" name="CommerceTemplate_Plan" providerName="System.Data.SqlClient" />
    <add connectionString="Server=.;Database=Priceme_NZ;Integrated Security=true" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    <add connectionString="Server=.;Database=Priceme_NZ;Integrated Security=true" name="Pricealyser" providerName="System.Data.SqlClient" />

    <add connectionString="Server=.;Database=Pam_User;Integrated Security=true" name="PriceMeDB_Common" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>