<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FilePath" value="F:\Work\Minitools\Yuanxiang\CrawlEvertenGenerate\" />
    <add key="CrawleraKey" value="88dfe3c1b5554a22b3ddb5590644ac15" />
    
    <add key="IsContinue" value="true" />
    
    <add key="FileKB" value="5"/>
    <add key="userid_FTP" value="PM"/>
    <add key="password_FTP" value="123456zl"/>
    <add key="targetIP_FTP" value="10.0.0.6:21"/>
    <add key="targetPath_FTP" value="CrawlData"/>

    <add key="AdminEmail" value="yuan@priceme.com" />
    <add key="AWSAccessKey" value="0ZY4PSJK9RC3FMPQVB02" />
    <add key="AWSSecretKey" value="rRK5GHwelS25Yk5XOLDYLuN8W9I0czKys5n+Tu1D" />

    <add key="MaxThread" value="2"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>