<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CommerceTemplate" connectionString="Data Source=10.0.0.6;Initial Catalog=Priceme_nz;User ID=root;Password=123456priceme;Allow User Variables=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="IndexRootPath" value="E:\LuceneIndex\ExpertReview"/>
    <add key="LogDirectory" value="E:\Log\ExpertReviewIndex\"/>
    <add key="CountryID" value="3"/>
    <add key="IsCopyFTP" value="true"/>

    <add key="userid" value="diedknight"/>
    <add key="password" value="123456zl"/>
    <add key="targetIP" value="192.168.1.123"/>
    <add key="targetPath" value="TestS"/>
    <add key="TargetLuceneConfigPath" value="TestS\TestConfig\newlucene.config"/>
    <add key="targetLuceneIndexRootPath" value="E:\LuceneIndex\ExpertReview"/>

    <add key="useridFTP" value="PM"/>
    <add key="passwordFTP" value="123456zl"/>
    <add key="targetIPFTP" value="192.168.1.109"/>
    <add key="targetPathFTP" value="NZ\ExpertReview"/>
    <add key="TargetLuceneConfigPathFTP" value="NZ\"/>
    <add key="TargetLuceneConfigNameFTP" value="newlucene.config"/>
    <add key="targetLuceneIndexRootPathFTP" value="D:\LuceneIndex\ExpertReview"/>
    <add key="LuceneConfigFileCopyDirFTP" value="D:\test\"/>

    <add key="IsDebug" value="false"/>
  </appSettings>
</configuration>
