<?xml version="1.0"?>
<configuration>
  <connectionStrings>
      <add name="CommerceTemplate" connectionString="Data Source=10.0.0.66;Initial Catalog=priceme;User ID=sa;Password=123456priceme; Connect Timeout=30;Max Pool Size=1000;" providerName="System.Data.SqlClient"></add>
      <!--<add name="CommerceTemplate" connectionString="Server=YUANXIANG-PC;User ID=sa;Password=priceme;Database=TestPriceMe;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
