<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MonitorPriceMeApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

  <appSettings>
    <add key="Email" value="Channelyser &lt;info@channelyser.com&gt;"/>
    <add key="WSAccessKey" value="0ZY4PSJK9RC3FMPQVB02" />
    <add key="WSSecretKey" value="rRK5GHwelS25Yk5XOLDYLuN8W9I0czKys5n+Tu1D" />
    <add key="to" value="123@163.com"/>
    
  </appSettings>
  <applicationSettings>
    <MonitorPriceMeApi.Properties.Settings>
      <setting name="MonitorPriceMeApi_nz_co_priceme_api_PriceMeService"
        serializeAs="String">
        <value>http://api.priceme.co.nz/PriceMeService.asmx</value>
      </setting>
    </MonitorPriceMeApi.Properties.Settings>
  </applicationSettings>
</configuration>
