<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="country" value=""/>
    <add key="date" value="May and April"/>
    <add key="downloadMaxMindDB" value="true" />
    <add key="count" value="2" />
  </appSettings>

  <connectionStrings>
    <clear />
    <add name="CommerceTemplate" connectionString="Data Source=10.0.0.66;Initial Catalog=Priceme;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>