<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <!--<add name="CommerceTemplate" connectionString="Data Source=12RMB-DBCENTER;Initial Catalog=PriceMe;User ID=sa;Password=123456priceme;Connect Timeout=30;" providerName="System.Data.SqlClient"/>-->
        <add name="CommerceTemplate" connectionString="Data Source=.;Initial Catalog=PriceMe_nz;User ID=sa;Password=yuanxiang;Connect Timeout=30;Max Pool Size=1000;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
