<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="countries" type="RelatedProductsTool.CountryNodeInfoHandler,RelatedProductsTool"/>
  </configSections>
  
  <countries>
    <!--categoryIds 配置哪些分类你就计算哪个分类，多个用逗号隔开。为0表示所有active、并且searchonly为0的所有分类，你可以通过这个sql语句计算出来（select * from csk_store_category where isactive=1 and issearchonly=0）-->
    <!--productIds 这里支持运行一个或者多个product，注意这里配置的product和key categoryid配置的值没有任何关系，你需要通过我配置的productid找到相对应的categoryid。为0，表示所有。-->
    <country id="3" dbConnectionKey="PriceMeDB_NZ" categoryIds="11" productIds="" />
    <country id="28" dbConnectionKey="PriceMeDB_PH" categoryIds="11" productIds="" />
  </countries>
  
  <appSettings>
    <add key="RetedCount" value="6"/><!--获取多少个写入数据库。-->
    <add key="LogDir" value="E:\RetaledLog" /><!--log的地址。-->
    <add key="DetailLog" value="true" /><!--要写详细的log，false就写简单log。-->
    <add key="MaxCount" value="100" /><!--多少产品写一次数据库-->
    <add key="Interval" value="1000" /><!--写数据库的时间间隔，单位：毫秒-->
  </appSettings>

  <connectionStrings>
    <add name="PriceMeDB_NZ" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_NZ;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient"/>
    <add name="PriceMeDB_PH" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_PH;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient"/>
    <add name="PriceMe_Pamuser" connectionString="Data Source=10.0.0.66;Initial Catalog=Pam_user;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient"/>
    <add name="PriceMe_205" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_205;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient"/>
    <add name="PriceMe_PM" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

</configuration>