<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="EventID" value="1309"/>
    <add key="Hours" value="24"/>

    <add key="AWSAccessKey" value="0ZY4PSJK9RC3FMPQVB02" />
    <add key="AWSSecretKey" value="rRK5GHwelS25Yk5XOLDYLuN8W9I0czKys5n+Tu1D" />
    <add key="MaxFileSize" value="100"/><!--单位KB-->
    <add key="EmailAddress" value="17656681@qq.com" />
  </appSettings>
</configuration>