@page
@model PricemeResource.Pages.GetCompareModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetCompare</title>
</head>
<body>
</body>
</html>
