<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <clear/>
    <add name="CommerceTemplate" connectionString="Data Source=.;Initial Catalog=PricemePlans;User ID=admini;Password=Q@iceM720140612;" providerName="System.Data.SqlClient"></add>
    <add name="LocalSqlServer" connectionString="Data Source=.;Initial Catalog=PricemePlans;User ID=admini;Password=Q@iceM720140612;" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
  <appSettings>
    <add key="SiteMapPath" value="G:\inetpub\wwwroot\GoogleSiteMapFiles\PricemePlans"/>
    <add key="CopyPath" value="G:\inetpub\WebsiteVersionNZ\"/>
    <add key="CopyFileName" value="Plans"/>
    <add key="WebSiteRootUrl" value="http://www.priceme.co.nz/plans/"/>
  </appSettings>
  
  
</configuration>