<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="countries" type="PriceMeCommon.CountryNodeInfoHandler,PriceMeCommon" />
  </configSections>

  <countries interval="10000">
    <country id="3" indexPathKey="IndexPathNZ" dbConnectionKey="PriceMeDB_NZ" configPath="E:\configFile\newlucene.config" finance="true" rtUpdateIndex="false">
      <velocity velocityHostName="10.0.0.6" velocityPort="22233" velocityCacheHostName="DistributedCacheService" velocityRegion="NZ_PriceMe_5" />
    </country>
  </countries>
  
  <appSettings>
    <add key="IndexDir" value="E:\PopularSearchIndex" />
    <add key="CategoryBoost" value="1.5" />
    <add key="ManufacturerBoost" value="1.3" />
    <add key="LuceneConfigFilePath" value="D:\configFile\newLucene.config" />
    <add key="LuceneConfigPath" value="D:\configFile\newlucene.config" />
    <add key="LuceneConfigPath2" value="D:\configFile\newlucene.config" />
    <add key="CountryID" value="3" />
    <add key="LuceneCountryInfo" value="3,IndexPathNZ;" />
    <add key="UpdateTrack" value="false" />
    <!--<add key="RootCategoryIds" value="189,6,1,355"/>-->
    <add key="RootCategoryIds" value="0" />
    <add key="PPCOnly" value="false" />
    <add key="DollarSign" value="$" />
    <add key="CurrentCulture" value="en-US" />
    <!--<add key ="CurrentCulture" value ="vi-VN"/>-->
    <add key="userid" value="PM" />
    <add key="password" value="123456zl" />
    <add key="targetIP" value="192.168.1.109" />
    <add key="targetPath" value="Dawn\PopularSearchIndex" />
    <add key="userid_FTP" value="PM" />
    <add key="password_FTP" value="123456zl" />
    <add key="targetIP_FTP" value="192.168.1.109" />
    <add key="targetPath_FTP" value="HK" />
    <add key="byFTP" value="false" />
    <add key="byShare" value="true" />
    <add key="changeShareConfig" value="true" />
    <add key="IndexDir2" value="F:\Dawn\LuceneIndex\NZ\newlucene.config" />
    <add key="TargetLuceneConfigPath_FTP" value="HK\" />
    <add key="TargetLuceneIndexRootPath_FTP" value="F:\TestS\TestConfig\" />
    <add key="LuceneConfigFileCopyDir" value="F:\" />
    <add key="TargetLuceneConfigName" value="lucene.config" />
    <add key="CheckClick" value="false" />
    <add key="CheckClickDays" value="8" />
    <add key="ClickDBInfo" value="[pam_user].dbo.CSK_Store_RetailerTracker" />
    <add key="ClickDays" value="15" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="NotCheckPriceChange" value="1" />
  </appSettings>
  <connectionStrings>
    <clear />

    <add name="CommerceTemplate_205" connectionString="Data Source=10.0.0.66;Initial Catalog=PriceMe_205;User ID=sa;Password=123456priceme;" providerName="System.Data.SqlClient" />

    <add name="PriceMeDB_NZ" connectionString="Data Source=10.0.0.6;Initial Catalog=PriceMe_NZ;User ID=root;Password=123456priceme;Allow User Variables=True" providerName="MySql.Data.MySqlClient" />
    <add name="PriceMeDB_Common" connectionString="Data Source=10.0.0.6;Initial Catalog=Pam_User_bak;User ID=root;Password=123456priceme;Allow User Variables=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.0.0" newVersion="3.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
