<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>

  <appSettings>
    <add key="FeedFileURL" value="http://becextech.co.nz/feed/PriceMeNZ-BXT.xml"/>
    <add key="NewFeedPath" value="H:\XbaiTwoV_Project\priceme_minitools\Tian\HandleBecexTech\HandleBecexTech\bin\Debug\"/>
    <add key="NewFeedName" value="123.xml"/>
    <add key="LogPath" value="H:\XbaiTwoV_Project\priceme_minitools\Tian\HandleBecexTech\HandleBecexTech\bin\Debug\"/>
  </appSettings>
</configuration>