/*--------------------*/
.fixFloat:after, #popupCategoryMenu:after, #PopularCategoriesDiv #PopularCategoriesUL:after, #PopularCategoriesDiv div:after, #latestProductUL:after, #latestProductUL > li ol li:after, #PopularBrandsDiv #popularBrandsUL:after, #HotProductsUL:after {
  content: '';
  display: block;
  clear: both; }

.centerDiv {
  text-align: center;
  padding: 40px 0;
  overflow: hidden; }

.homeH2 {
  position: relative;
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  color: #555; }

.line-tag:before, .line-tag:after {
  content: "";
  width: 80px;
  height: 1px;
  top: 50%;
  position: absolute;
  border-top: 2px dotted #ccc;
  display: inline-block; }
.line-tag:before {
  left: -100px; }
.line-tag:after {
  margin-left: 20px; }

.glyphicon-menu-right:before {
  content: "\e258\e258";
  letter-spacing: -7px; }

.homeBG, #latestProductUL > li > label, #PopularBrandsDiv #popularBrandsUL li a, #HomeBottomLayoutDiv #newsDiv .blogNews p a, #HomeNewsletterDiv .container .form-control {
  background-image: url('https://images.pricemestatic.com/Images/PriceMeNewDesign/priceme_bg_home20150325_2.png');
  background-repeat: no-repeat; }

.clickble, .clickButton, .blueButton, #home-searchbar .input-group-addon, .orangeButton, .jlLabel, #header-right #LoginInfo, #PopularCategoriesDiv #PopularCategoriesUL li span, #HomeNewsletterDiv .container .input-group-addon {
  cursor: pointer; }

.clickButton, .blueButton, #home-searchbar .input-group-addon, .orangeButton {
  color: white; }

.blueButton, #home-searchbar .input-group-addon {
  background-color: #0567AB; }

.orangeButton {
  background-color: #FF871C; }

.home-top {
  background-color: #D3DCE4;
  background-image: linear-gradient(5deg, #c7ddf0, #dbdbdb);
  padding-bottom: 8px; }

#headerV1 {
  margin-bottom: 0;
  border-bottom: none; }
  #headerV1 #header-right {
    padding: 0; }
  #headerV1 .navbar-default {
    background-color: transparent; }
  #headerV1 #top-navbar-collapse {
    overflow: hidden; }

#header-logo {
  padding-top: 6px; }

#top-MyListContent {
  display: none; }

/*--- Home join login ---*/
.jlLabel {
  color: #777;
  display: block;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0; }
  .jlLabel .glyphicon {
    padding: 0 5px; }

#header-right .navbar-collapse {
  padding-left: 0; }

#loginUL > a {
  font-size: 16px;
  display: block;
  padding: 10px; }

@media (min-width: 360px), (max-width: 360px) {
  #header-right .navbar-collapse {
    padding-left: 0; }
  #header-right #UserLoginUL {
    display: none; }
  #loginUL > a.dropdown-toggle {
    color: #777;
    width: 100%;
    text-decoration: none; }
    #loginUL > a.dropdown-toggle:hover {
      text-decoration: none; }
  #loginUL .dropdown-menu {
    padding: 0; }
  .loginLabel {
    border-bottom: 1px solid #ccc; } }

@media (min-width: 768px) {
  .jlLabel {
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 0 0 5px 5px;
    border-top: 6px solid #FF871C;
    color: white; }
    .jlLabel .glyphicon {
      display: none; }
  .loginLabel {
    background-color: #0567AB;
    display: inline-block;
    margin-right: 10px;
    border-bottom: none; }
  .registerLabel {
    background-color: #0567AB;
    display: inline-block; }
  #loginUL > a.dropdown-toggle {
    background-color: #0567AB;
    padding: 12px 30px;
    color: white;
    border-radius: 0 0 4px 4px; }
    #loginUL > a.dropdown-toggle:hover {
      background-color: #0567AB;
      text-decoration: none; } }

/*@media (min-width: 1007px) {

}
@media (min-width: 1200px) {    

}*/
/*--- Stats bar ---*/
#newStatsbar {
  font-size: 14px;
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase; }
  #newStatsbar div {
    display: inline-block; }
  #newStatsbar b {
    color: #ff7300; }
  #newStatsbar span {
    margin: 0 8px; }

/*--- Home search bar ---*/
#home-searchbar {
  width: 100%;
  margin-top: 20px; }
  #home-searchbar #SearchTextBox::-moz-placeholder {
    color: #ccc; }
  #home-searchbar #SearchTextBox:-ms-input-placeholder {
    color: #ccc; }
  #home-searchbar #SearchTextBox::-webkit-input-placeholder {
    color: #ccc; }
  #home-searchbar .input-group-addon {
    text-transform: uppercase;
    font-weight: bold; }

@media (min-width: 360px), (max-width: 360px) {
  #home-searchbar .home-search-textbox {
    padding-left: 38px;
    background-position: -5px -5px; }
  #home-searchbar .input-group-addon {
    border: none;
    border-radius: 0 4px 4px 0; } }

@media (min-width: 768px) {
  #home-searchbar {
    background-color: #ccc;
    padding: 10px; }
    #home-searchbar .home-search-textbox {
      font-size: 18px;
      height: 48px;
      padding-left: 50px;
      background-position: 0 2px; }
    #home-searchbar .input-group-addon {
      font-size: 16px;
      padding: 0 18px; } }

/*@media (min-width: 1007px) {

}
@media (min-width: 1200px) {    

}*/
/*--- Suggest div ---*/
#home-suggest-div {
  left: 0;
  position: absolute;
  background-color: #fff;
  z-index: 99;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid #ccc;
  line-height: 23px;
  border-top: none;
  text-align: left;
  font-size: 13px;
  width: 100%; }
  #home-suggest-div #suggestULLeft {
    float: left; }
  #home-suggest-div #suggestULRight {
    float: right; }
  #home-suggest-div .separator {
    background: url(https://images.pricemestatic.com/images/css/bg3.gif) no-repeat;
    height: 17px; }
  #home-suggest-div .product {
    background-position: -8px 0; }
  #home-suggest-div .sepCat {
    background-position: -8px -17px; }
  #home-suggest-div .sepBrand {
    background-position: -8px -90px; }
  #home-suggest-div .sepRetailer {
    background-position: -8px -107px; }
  #home-suggest-div .focus {
    background-color: #ccc; }
  #home-suggest-div li {
    overflow: hidden;
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    padding: 4px 0 4px 5px; }
    #home-suggest-div li.entity {
      display: table;
      width: 100%; }
    #home-suggest-div li .aaaa {
      padding-left: 5px;
      margin: 0;
      cursor: default;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      display: block;
      float: left; }
    #home-suggest-div li strong {
      color: #3366CC; }
    #home-suggest-div li .popularSearchPrice {
      display: table-cell;
      width: 1%;
      color: #ff7300;
      padding-right: 5px;
      vertical-align: top; }

@media (min-width: 360px), (max-width: 360px) {
  #home-suggest-div {
    top: 35px; }
    #home-suggest-div #suggestULLeft {
      width: 100%; }
    #home-suggest-div #suggestULRight {
      width: 100%; }
    #home-suggest-div li .aaaa {
      width: 220px; } }

@media (min-width: 400px) {
  #home-suggest-div li .aaaa {
    width: 280px; } }

@media (min-width: 768px) {
  #home-suggest-div {
    top: 68px; }
    #home-suggest-div #suggestULLeft {
      width: 59%;
      overflow: hidden; }
    #home-suggest-div #suggestULRight {
      width: 39%; }
    #home-suggest-div li .aaaa {
      width: 400px; } }

@media (min-width: 1007px) {
  #home-suggest-div li .aaaa {
    width: 540px; } }

@media (min-width: 1200px) {
  #home-suggest-div li .aaaa {
    width: 650px; } }

/*--- Home top categories ---*/
#popupCategoryMenu {
  margin: 20px auto 0 auto;
  overflow: visible; }
  #popupCategoryMenu .popupCategoryLI {
    float: left;
    background-color: white;
    height: 123px;
    width: 193px; }
    #popupCategoryMenu .popupCategoryLI a {
      display: block;
      width: 193px;
      padding: 94px 0 0 0;
      text-align: center;
      text-transform: uppercase;
      color: #888;
      font-weight: bolder; }
    #popupCategoryMenu .popupCategoryLI #cat_365 {
      background-position: 75px -48px; }
    #popupCategoryMenu .popupCategoryLI #cat_441 {
      background-position: 60px -248px; }
    #popupCategoryMenu .popupCategoryLI #cat_616 {
      background-position: 58px -444px; }
    #popupCategoryMenu .popupCategoryLI #cat_189 {
      background-position: 54px -630px; }
    #popupCategoryMenu .popupCategoryLI #cat_952 {
      background-position: 60px -812px; }
    #popupCategoryMenu .popupCategoryLI #cat_6 {
      background-position: 60px -996px; }
    #popupCategoryMenu .popupCategoryLI #cat_1 {
      background-position: 56px -1182px; }
    #popupCategoryMenu .popupCategoryLI #cat_2123 {
      background-position: 58px -3670px; }
    #popupCategoryMenu .popupCategoryLI #cat_1188 {
      background-position: 58px -1352px; }
    #popupCategoryMenu .popupCategoryLI #cat_190 {
      background-position: 60px -1520px; }
    #popupCategoryMenu .popupCategoryLI #cat_1284 {
      background-position: 60px -1688px; }
    #popupCategoryMenu .popupCategoryLI #cat_578 {
      background-position: 58px -1852px; }
    #popupCategoryMenu .popupCategoryLI #cat_-99 {
      background-position: 60px -2016px; }
    #popupCategoryMenu .popupCategoryLI #cat_1389 {
      background-position: 60px -2200px; }
    #popupCategoryMenu .popupCategoryLI #cat_355 {
      background-position: 66px -2376px; }
    #popupCategoryMenu .popupCategoryLI #cat_716 {
      background-position: 64px -2566px; }
    #popupCategoryMenu .popupCategoryLI #cat_1119 {
      background-position: 56px -2738px; }
    #popupCategoryMenu .popupCategoryLI #cat_184 {
      background-position: 56px -2908px; }
    #popupCategoryMenu .popupCategoryLI:hover {
      position: relative;
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
      border: 1px solid #ccc;
      box-shadow: 3px 3px 3px #c7ddf0; }
      #popupCategoryMenu .popupCategoryLI:hover a {
        color: #36C;
        text-decoration: none; }
      #popupCategoryMenu .popupCategoryLI:hover #cat_365 {
        background-position: 75px -148px; }
      #popupCategoryMenu .popupCategoryLI:hover #cat_441 {
        background-position: 60px -340px; }
      #popupCategoryMenu .popupCategoryLI:hover #cat_616 {
        background-position: 58px -538px; }
      #popupCategoryMenu .popupCategoryLI:hover #cat_189 {
        background-position: 54px -720px; }
      #popupCategoryMenu .popupCategoryLI:hover #cat_952 {
        background-position: 60px -906px; }
      #popupCategoryMenu .popupCategoryLI:hover #cat_6 {
        background-position: 60px -1082px; }
      #popupCategoryMenu .popupCategoryLI:hover #cat_1 {
        background-position: 56px -1258px; }
      #popupCategoryMenu .popupCategoryLI:hover #cat_2123 {
        background-position: 58px -3572px; }
      #popupCategoryMenu .popupCategoryLI:hover #cat_1188 {
        background-position: 58px -1438px; }
      #popupCategoryMenu .popupCategoryLI:hover #cat_190 {
        background-position: 60px -1600px; }
      #popupCategoryMenu .popupCategoryLI:hover #cat_1284 {
        background-position: 60px -1772px; }
      #popupCategoryMenu .popupCategoryLI:hover #cat_578 {
        background-position: 58px -1932px; }
      #popupCategoryMenu .popupCategoryLI:hover #cat_-99 {
        background-position: 60px -2100px; }
      #popupCategoryMenu .popupCategoryLI:hover #cat_1389 {
        background-position: 60px -2290px; }
      #popupCategoryMenu .popupCategoryLI:hover #cat_355 {
        background-position: 66px -2466px; }
      #popupCategoryMenu .popupCategoryLI:hover #cat_716 {
        background-position: 60px -2650px; }
      #popupCategoryMenu .popupCategoryLI:hover #cat_1119 {
        background-position: 56px -2820px; }
      #popupCategoryMenu .popupCategoryLI:hover #cat_184 {
        background-position: 56px -2996px; }

@media (min-width: 360px), (max-width: 360px) {
  #popupCategoryMenu {
    /*margin:10px auto;
        width:193px;*/
    display: none; }
  .popupCategoryLI {
    margin: 1px; } }

@media (min-width: 768px) {
  #popupCategoryMenu {
    width: 609px;
    display: block; }
  .popupCategoryLI {
    margin: 5px; } }

@media (min-width: 1007px) {
  #popupCategoryMenu {
    width: 100%; }
  .popupCategoryLI {
    margin: 2px; } }

@media (min-width: 1200px) {
  .popupCategoryLI {
    margin: 1px; } }

/*--- Recently Viewed ---*/
#top-controller {
  position: relative; }
  #top-controller .rightDiv {
    position: absolute;
    top: 32px;
    right: 0; }
    #top-controller .rightDiv .left-arrow {
      font-size: 30px;
      font-weight: bolder;
      float: left;
      cursor: pointer;
      color: #ccc; }
    #top-controller .rightDiv .right-arrow {
      font-size: 30px;
      font-weight: bolder;
      float: left;
      cursor: pointer;
      margin-left: 20px;
      color: #ccc; }

#container-display {
  overflow: hidden;
  border: 1px solid #ccc;
  position: relative;
  height: 314px; }

#container-display .container-div {
  width: 3000px;
  position: absolute; }

.product-grid-item .productReviewDiv {
  margin: 5px auto;
  width: 90px;
  height: 15px;
  display: block; }

.product-grid-item .bestPPCDiv {
  margin: 0 auto;
  overflow: hidden;
  color: gray;
  width: auto; }

.product-grid-item .bestPPCDiv .priceCountDiv {
  width: 100%;
  font-size: 14px;
  text-align: center; }

.product-grid-item .bestPPCDiv .priceCountDiv a {
  display: block;
  overflow: hidden;
  height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap; }

.product-grid-item .bestPPCDiv .priceDiv {
  text-align: center;
  width: 100%;
  padding: 0; }

.product-grid-item .bestPPCDiv .priceDiv span {
  color: #ff7300;
  font-size: 14px; }

#product-grid-view .product-grid-item .btnVS {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 0; }

#product-grid-view .product-grid-item .btnVS a {
  padding: 5px 0;
  width: 135px; }

#product-grid-view .product-grid-item .comparePriceDiv {
  position: relative; }

#product-grid-view .product-grid-item .comparePriceDiv:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  background-color: #ccc;
  height: 1px;
  width: 100%;
  z-index: -1; }

#product-grid-view {
  border: solid #ccc;
  border-width: 0 0 0 0;
  margin: 0 auto;
  clear: both; }

#product-grid-view .product-grid-item {
  float: left;
  border: solid #ccc;
  border-width: 0 1px 1px 0;
  position: relative;
  height: 313px;
  overflow: visible; }

#product-grid-view .product-grid-item:hover {
  border-bottom: #fff;
  box-shadow: 2px 2px 2px #ccc;
  background: none; }

.product-grid-item img {
  display: block;
  margin: 20px auto;
  width: 150px;
  height: 150px;
  float: none; }

.product-grid-item .productNameLink {
  display: block;
  margin: 5px auto;
  text-align: center;
  font-size: 15px;
  height: 42px;
  width: 100%;
  padding: 0 10px;
  overflow: hidden; }

.product-grid-item .middle-div {
  float: none;
  width: 100%; }

.product-grid-item .hoverDisplay {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  border: solid #ccc;
  box-shadow: 3px 3px 3px #ccc;
  border-width: 0 0 1px 0;
  margin: 0;
  float: none; }

#product-grid-view .product-grid-item .addDiv, #product-grid-view .product-grid-item .added {
  display: block;
  text-align: center;
  color: gray;
  margin: 10px 0;
  cursor: pointer; }

#product-grid-view .product-grid-item .btnVS .btn span {
  display: none; }

#product-grid-view .product-grid-item .btnVS .btn label {
  display: inline; }

#catalogProductsDiv {
  width: 748px; }

@media (min-width: 360px), (max-width: 360px) {
  #container-display {
    width: 273px;
    margin: 0 auto; }
  .recently-viewed #container-display .product-grid-item {
    width: 272px; } }

@media (min-width: 768px) {
  #top-controller .centerDiv {
    text-align: center; }
    #top-controller .centerDiv .line-tag:before, #top-controller .centerDiv .line-tag:after {
      display: inline-block; }
  #container-display {
    width: 100%; }
  .recently-viewed #container-display .product-grid-item {
    width: 250px; } }

@media (min-width: 1007px) {
  .recently-viewed #container-display .product-grid-item {
    width: 247px; } }

@media (min-width: 1200px) {
  .recently-viewed #container-display .product-grid-item {
    width: 234px; } }

/*--- Home popular categories ---*/
#PopularCategoriesDiv #PopularCategoriesUL {
  background-color: #0567AB; }
  #PopularCategoriesDiv #PopularCategoriesUL li {
    float: left;
    border-top: 6px solid #0567AB;
    margin: 0 5px; }
    #PopularCategoriesDiv #PopularCategoriesUL li span {
      color: white;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
      display: block;
      padding: 10px 15px; }
  #PopularCategoriesDiv #PopularCategoriesUL .active {
    border-top: 6px solid #FF871C; }
#PopularCategoriesDiv div img {
  float: left; }
#PopularCategoriesDiv div ol {
  float: left;
  padding: 20px 0 20px 20px; }
  #PopularCategoriesDiv div ol li {
    list-style: none; }
  #PopularCategoriesDiv div ol a {
    font-size: 14px;
    padding: 5px 0;
    display: block; }
  #PopularCategoriesDiv div ol .more {
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bolder; }
    #PopularCategoriesDiv div ol .more span {
      color: #ff7300;
      font-size: 14px;
      padding-left: 10px; }

@media (min-width: 360px), (max-width: 360px) {
  #PopularCategoriesDiv div img {
    /*width:300px;
                height:auto;*/
    display: none; } }

@media (min-width: 768px) {
  #PopularCategoriesDiv div img {
    width: 567px;
    height: 340px;
    display: block; } }

/*@media (min-width: 1007px) {
  
}
@media (min-width: 1200px) {

}*/
/*--- Latest Products ---*/
#latestProductUL > li {
  float: left; }
  #latestProductUL > li > label {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 0 12px 60px;
    margin-bottom: 30px; }
  #latestProductUL > li ol li {
    margin-bottom: 10px;
    height: 75px; }
    #latestProductUL > li ol li img {
      float: left;
      display: block; }
    #latestProductUL > li ol li div {
      float: left;
      border-top: 1px dotted #ccc;
      margin: 0 15px;
      padding-top: 10px; }
      #latestProductUL > li ol li div a {
        display: block;
        font-size: 14px;
        max-height: 42px;
        overflow: hidden; }
      #latestProductUL > li ol li div label {
        margin-top: 5px;
        color: #ff7300; }
        #latestProductUL > li ol li div label span {
          font-size: 14px; }
    #latestProductUL > li ol li:first-child div {
      border-top: none; }
#latestProductUL #cid_11 > label {
  background-position: -15px -3126px; }
#latestProductUL #cid_2 > label {
  background-position: -15px -3208px; }
#latestProductUL #cid_7 > label {
  background-position: -15px -3295px; }

@media (min-width: 360px), (max-width: 360px) {
  #latestProductUL > li {
    width: 100%; }
    #latestProductUL > li > label {
      margin-top: 20px; }
    #latestProductUL > li ol li div {
      width: 200px; } }

@media (min-width: 400px) {
  #latestProductUL > li ol li div {
    width: 260px; } }

@media (min-width: 768px) {
  #latestProductUL > li {
    width: 50%; }
    #latestProductUL > li > label {
      margin-top: 0; }
    #latestProductUL > li ol li div {
      width: 270px; } }

@media (min-width: 1007px) {
  #latestProductUL > li {
    width: 33%; }
    #latestProductUL > li ol li div {
      width: 226px; } }

@media (min-width: 1200px) {
  #latestProductUL > li ol li div {
    width: 270px; } }

/*--- Popular brands ---*/
#PopularBrandsDiv {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc; }
  #PopularBrandsDiv #popularBrandsUL li {
    float: left;
    padding: 0 30px; }
    #PopularBrandsDiv #popularBrandsUL li a {
      display: block;
      padding: 5px 0;
      background-position: -15px -3385px;
      padding-left: 30px;
      font-size: 13px; }

@media (min-width: 360px), (max-width: 360px) {
  #popularBrandsUL {
    margin-left: 30px; }
    #popularBrandsUL li {
      width: 100%;
      padding: 0 30px;
      margin-bottom: 20px; } }

@media (min-width: 400px) {
  #popularBrandsUL {
    margin-left: 50px; } }

@media (min-width: 768px) {
  #popularBrandsUL {
    margin-left: 0; }
    #popularBrandsUL li {
      width: 50%;
      border-right: 1px dotted #ccc; }
      #popularBrandsUL li:nth-child(2n) {
        border-right: none; } }

@media (min-width: 1007px) {
  #popularBrandsUL li {
    width: 25%;
    padding: 0 20px; }
    #popularBrandsUL li:nth-child(2n) {
      border-right: 1px dotted #ccc; }
    #popularBrandsUL li:last-child {
      border-right: none; } }

@media (min-width: 1200px) {
  #popularBrandsUL li {
    padding: 0 30px; } }

/*--- Hot products ---*/
.separated {
  background-color: #e6e6e6;
  background-image: linear-gradient(5deg, #F0F0F0, #dedede); }
  .separated .morepopular-div {
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold; }
    .separated .morepopular-div span {
      font-size: 14px;
      color: #ff7300;
      padding-left: 10px; }

#HotProductsUL li {
  float: left;
  border-bottom: 1px dotted #ccc;
  margin: 15px;
  padding-bottom: 30px;
  height: 112px; }
  #HotProductsUL li img {
    float: left; }
  #HotProductsUL li div {
    float: left;
    margin-left: 15px; }
    #HotProductsUL li div a {
      display: block;
      font-size: 14px;
      max-height: 42px;
      overflow: hidden; }
    #HotProductsUL li div label {
      display: block;
      color: #ff7300; }
      #HotProductsUL li div label span {
        font-size: 14px; }
    #HotProductsUL li div > span {
      display: inline-block;
      color: white;
      background-color: #ff7300;
      padding: 1px 10px;
      font-weight: bold;
      margin-top: 6px;
      border-radius: 3px; }

@media (min-width: 360px), (max-width: 360px) {
  #HotProductsUL li {
    width: 100%; }
    #HotProductsUL li div {
      width: 200px; } }

@media (min-width: 400px) {
  #HotProductsUL li {
    width: 100%; }
    #HotProductsUL li div {
      width: 270px; } }

@media (min-width: 768px) {
  #HotProductsUL li {
    width: 216px; }
    #HotProductsUL li div {
      width: 130px; } }

@media (min-width: 1200px) {
  #HotProductsUL li {
    width: 252px; }
    #HotProductsUL li div {
      width: 162px; } }

/*--- home bottom ---*/
#HomeBottomLayoutDiv h2 {
  font-size: 20px;
  margin: 20px 0; }
#HomeBottomLayoutDiv #WelcomeDiv {
  float: left;
  width: 56%; }
  #HomeBottomLayoutDiv #WelcomeDiv p {
    font-size: 13px; }
#HomeBottomLayoutDiv #newsDiv {
  float: right;
  width: 38%; }
  #HomeBottomLayoutDiv #newsDiv .blogNews p {
    font-size: 13px; }
    #HomeBottomLayoutDiv #newsDiv .blogNews p a {
      padding: 2px 0 2px 40px;
      display: block;
      background-position: -15px -3385px;
      font-weight: bold; }
    #HomeBottomLayoutDiv #newsDiv .blogNews p span {
      margin-left: 40px;
      color: #777;
      display: block;
      padding-bottom: 20px;
      border-bottom: 1px dotted #ccc; }
  #HomeBottomLayoutDiv #newsDiv .blogNews .moreBlog {
    margin-left: 40px;
    font-weight: bolder;
    font-size: 14px;
    padding: 10px 0;
    display: inline-block;
    text-transform: uppercase; }
    #HomeBottomLayoutDiv #newsDiv .blogNews .moreBlog span {
      font-size: 14px;
      color: #ff7300;
      padding-left: 10px; }

@media (min-width: 360px), (max-width: 360px) {
  #HomeBottomLayoutDiv #WelcomeDiv {
    width: 100%; }
  #HomeBottomLayoutDiv #newsDiv {
    width: 100%; } }

@media (min-width: 768px) {
  #HomeBottomLayoutDiv #WelcomeDiv {
    width: 56%; }
  #HomeBottomLayoutDiv #newsDiv {
    width: 38%; } }

/*@media (min-width: 1007px) {

}
@media (min-width: 1200px) {

}*/
/*--- Home footer ---*/
#HomeNewsletterDiv .input-group .form-control label {
  text-transform: uppercase; }

#HomeNewsletterDiv {
  background-color: #0567AB; }
  #HomeNewsletterDiv .container {
    padding: 10px 0; }
    #HomeNewsletterDiv .container > div {
      margin: 0 auto; }
    #HomeNewsletterDiv .container .form-control {
      height: 44px;
      background-position: 0 -3431px;
      padding-left: 58px;
      font-size: 16px;
      display: table; }
      #HomeNewsletterDiv .container .form-control label {
        width: 1%;
        display: table-cell;
        white-space: nowrap;
        font-weight: bold;
        line-height: 30px; }
      #HomeNewsletterDiv .container .form-control input {
        display: table-cell;
        width: 100%;
        border: none;
        padding-left: 5px;
        line-height: 30px;
        min-height: 30px; }
    #HomeNewsletterDiv .container .input-group-addon {
      background-color: #ff7300;
      color: white;
      border: none;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase; }

#newFootNavDiv {
  margin-top: 10px; }
  #newFootNavDiv > .container {
    margin-top: 30px; }
    #newFootNavDiv > .container > div {
      margin-bottom: 20px; }
      #newFootNavDiv > .container > div .contact-info {
        margin: 0; }
  #newFootNavDiv .footerTitle {
    text-transform: uppercase; }

.regular-bold2 {
  padding-left: 42px;
  padding-right: 30px;
  position: relative; }
  .regular-bold2:before {
    font-family: 'Glyphicons Halflings';
    content: "\e062";
    display: block;
    position: absolute;
    font-size: 20px;
    color: #FF871C;
    left: 0; }

@media (min-width: 360px), (max-width: 360px) {
  #HomeNewsletterDiv .container > div {
    width: 100%; }
  #HomeNewsletterDiv .container .form-control {
    float: none;
    border-radius: 4px; }
  #HomeNewsletterDiv .container .input-group-addon {
    display: block;
    width: 100%;
    padding: 14px 0;
    border-radius: 4px;
    margin-top: 10px; } }

@media (min-width: 768px) {
  #HomeNewsletterDiv .container > div {
    width: 90%; }
  #HomeNewsletterDiv .container .form-control {
    float: left;
    border-radius: 4px 0 0 4px; }
  #HomeNewsletterDiv .container .input-group-addon {
    display: table-cell;
    width: 1%;
    padding: 0 20px;
    border-radius: 0 4px 4px 0; } }

@media (min-width: 1007px) {
  #newFootNavDiv > .container > div:first-child {
    border-right: 1px dotted #ccc; } }

