a {
    color:#000000;
    text-decoration: underline;
}
a[href]:after {
    content: none !important;
  }
a:after {
    content: none !important;
  }

.container, .newLayoutContentDiv {width: 1170px;}
.full-width {width:100%;}
.tdVertical {width: 670px}
.BannerDiv {display:none;}

.productCenter {width: 1164px;}
.pricesDivNoLink {width: 1164px;}
.pricesDiv {width: 1164px;}
.productCenter .googleads {display:none;}

.exDateTred{display:block;}
.pricesDivPdShowMore{display:block;}
.pricesDivPdName{width:460px; display:table;}
.pricesDivPdNameNoLink{width:460px; display:table;}
.pricesDivShopping{display:block;}
.pricesDivVS{width:150px;}
.pricesDivNameMore{width:739px;}
.pricesDivPdNameNoLink{width:460px;}
.pricesDivPdNameMD{width:490px;}
.pricesDivPdNameMDNL{width:455px;}
.pricesDivVSMore{width: 120px;padding:5px 0 0 40px;}
.pricesDivPdName .vertical > *{
    width:460px;
}
.btnCond {max-width: 132px;}   
.trackName {white-space:nowrap;max-width: 460px;overflow: hidden;text-overflow: ellipsis;}
.pricesDivNameMore .trackName {max-width: 600px}
.proVisitShop {
    color: #fff;
    background-color: #d47500;
    border-color: #d47500;
    background-image: linear-gradient(#ff9c21,#d47500 50%,#c06a00);
    background-repeat: no-repeat;
    filter: none;
    border: 1px solid #a15900;
    background-color: #d47500;
    border-color: #d47500;
    max-width: 132px;
}
.proVisitShop:hover {
    background-image: linear-gradient(#ff930d,#c06a00 50%,#ab5e00);
    background-repeat: no-repeat;
    filter: none;
    border: 1px solid #8d4e00;
    color: #fff;
    background-color: #a15900;
    border-color: #975300;
}
.productInfoHeight {width: 580px;}
.loginTag {display:none;}
.btnVS {display:none;}
.btnVSC {display:none;}

#newFootNavDiv {
    display:none;
}