<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="RPIndexPath" value="H:\MapExistRPIndex\RetailerProductsIndex"/>
    <add key="buildIndex" value="0"/>
    <add key="CID" value="select categoryid,categoryname from csk_store_category where categoryid in (2)"/>
    <add key="PriceRate" value="50%" />
    <add key="LogPath" value="H:\XbaiTwoV_Project\priceme_minitools\Tian\MapExistingRp\MapExistingRp\bin\Debug\MatchReport.xls" />
  </appSettings>

  <connectionStrings>
    <add name="Pricealyser" connectionString="Server=10.0.0.66;Initial Catalog=Priceme;User ID=sa;Password=123456priceme; Connect Timeout=8000;Packet Size=8192;Max Pool Size=1000;" />
  </connectionStrings>
</configuration>